* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

.first-container {
    width: 960px;
    height: 536px;
    background: url("../img/hero-bg.png") no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.header-first-section {
    width: 395px;
    height: 51px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8.62px;
    line-height: 40px;
    padding-top: 130px;
    margin: 0 auto;
}

.text-first-section {
    width: 330px;
    height: 55px;
    color: #ffffff;
    font-size: 7.5px;
    font-weight: 400;
    line-height: 14px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.9px;
    padding-top: 70px;
    margin: 0 auto;
}

.image-first-section {
    padding-top: 110px;
    padding-left: 480px;
}

.second-container {
    width: 960px;
    height: 306px;
    margin: 0 auto;
}

.fieldset-second-container {
    width: 450px;
    height: 305px;
    margin: 130px auto;
}

.fieldset-second-container > legend {
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 8.95px;
}

.fieldset-second-container > p {
    width: 400px;
    height: 106px;
    color: #3c3c3c;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding: 54px 104px 80px 104px;
}

.third-container {
    width: 960px;
    height: 244px;
    background: url("../img/services.png") no-repeat;
    background-size: contain;
    margin: 0 auto;
}

.fieldset-third-container {
    width: 450px;
    height: 190px;
    margin: 130px auto;
    border: 2px solid #fff;
    position: relative;
    top: 30px;
}

.fieldset-third-container > legend {
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 8.95px;
}

.fieldset-third-container > p {
    width: 400px;
    height: 16px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding: 12px 104px 26px 104px;
}

.fourth-container {
    width: 960px;
    height: 710px;
    margin: 0 auto;
}

.fieldset-fourth-container {
    width: 450px;
    height: 790px;
    margin: 100px auto;
}

.fieldset-fourth-container > legend {
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 8.95px;
}

.image-fourth-container {
    padding-left: 290px;
    margin-top: 50px;
}

.h2-fourth-container {
    width: 587px;
    height: 16px;
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 5.26px;
    box-sizing: border-box;
    margin: 20px 0;
}

.text-fourth-container {
    width: 470px;
    height: 106px;
    color: #3c3c3c;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    padding: 0 69px;
    text-align: center;
}

.first {
    padding-left: 265px;
}

.second {
    padding-left: 228px;
}

.third {
    padding-left: 170px;
}

.fifth-container > div > p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;  
    letter-spacing: 3.95px;
    position: relative;
    top: -50px;
    left: 20px;
}

.fifth-container {
    width: 960px;
    height: 340px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "grid-container-first grid-container-second grid-container-third"
      "grid-container-fourth grid-container-fifth grid-container-sixth";
}
  
.grid-container-first { 
    grid-area: grid-container-first; 
}
  
.grid-container-second { 
    grid-area: grid-container-second; 
    margin-left: 10px;
}
  
.grid-container-third { 
    grid-area: grid-container-third; 
    margin-left: 10px;
}
  
.grid-container-fourth { 
    grid-area: grid-container-fourth; 
    margin-top: -15px;
}
  
.grid-container-fifth { 
    grid-area: grid-container-fifth; 
    margin-top: -15px;
    margin-left: 10px;
}
  
.grid-container-sixth { 
    grid-area: grid-container-sixth; 
    margin-top: -15px;
    margin-left: 10px;
}

.six-container {
    width: 960px;
    height: 306px;
    margin: 0px auto;
}

.fieldset-six-container {
    width: 450px;
    height: 285px;
    margin: 70px auto;
}

.fieldset-six-container > legend {
    text-align: center;
    padding-left: 55px;
    padding-right: 55px;
    color: #3c3c3c;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 8.95px;
}

.fieldset-six-container > p {
    width: 400px;
    height: 106px;
    color: #3c3c3c;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    padding: 54px 104px 0px 104px;
}

.button-six-container {
    width: 255px;
    height: 28px;
    border: 2px solid #3c3c3c;
    background-color: #3c3c3c;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding-top: 15px;
    position: relative;
    bottom: 160px;
    margin: 0 auto;
    cursor:pointer;
    margin-top: 30px;
    position: relative; 
    transition: all 400ms ease-out; 
    transform-style: preserve-3d;
}

#seven-container {
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-six-container:after { 
    content: 'CONTACT US'; 
    position: absolute; 
    top: -50%;
    left: 0px;
    width: 100%; 
    width: 255px;
    height: 28px;
    padding-top: 15px;
    background: gray;
    transform-origin: bottom; 
    transform: rotateX(90deg); 
}
    
.button-six-container:hover { 
    transform-origin: bottom; 
    transform: rotateX(-90deg); 
}

img:hover {
    opacity: 0.6;
}

.logo-first-container {
    position: relative;
    top: 100px;
    left: 450px;
}

.logo-seven-container {
    padding-right: 10px;
}
  









